


button {
    border: 5px ridge var(--main3);
    position: relative;
    padding: 5px 10px;
    margin: 4px;
    background: linear-gradient(120deg, var(--main1dark), var(--main2dark) );
    border-radius: 5px;
    transition: 1.2s, --main1dark 2s ease, --main2dark 2s ease;

}



button:hover{
    border: 5px ridge var(--main3light);
    --main1dark: var(--main1);
    --main2dark: var(--main2);
}